# gitignore for frontend
frontend/node_modules
frontend/.next/
frontend/out/
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# gitingnore for backend
/backend/.venv
__pycache__
/backend/.pytest_cache
.env